<!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>


<div class="navbar-fixed-bottom">

  
         <ul class="blog-nav">
            <div class="navbar-text pull-left">
                <p>Developed by Mansi Patel</p>
            </div>
        


             <div class="navbar-text pull-right">
            
                <a href="https://github.com/mansipatel108"><i class="fa fa-github fa-2x"></i></a>

            </div>
    
        </ul>
        </body>
</div>
</html>